Makefile.in
Makefile
aclocal.m4
ar-lib
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
m4
ltmain.sh
missing
*~
*.old
build
.deps
*.o
stamp-h1
fillup
fillup.8
fillup-*.tar*
fillup-*
